Repository VilledeMontreal/workit, pull requests merged in 2020-02, with the labels that each got.

#141 Add subscription options for task filtering through 'camunda-external-task-client-js'
  packages/workit-types/src/camundaBpm/subscriptionOptions.ts
Labels: Camunda BPM, enhancement

#143 Export 'Interceptors' class to ease custom process handler implementation
  packages/workit-core/src/index.ts
Labels: core, enhancement

#158 fix(opentelemetry): upgrade to 0.4.0
  .circleci/config.yml
  README.md
  README_FR.md
  examples/opentelemetry/package.json
  examples/opentelemetry/src/worker.ts
  package.json
  packages/workit-bpm-client/package.json
  packages/workit-bpm-client/tests/functionals/camunda.spec.ts
  packages/workit-camunda/package.json
  packages/workit-camunda/tests/functionals/camunda.spec.ts
  packages/workit-camunda/tests/integrations/zeebe.spec.ts
  packages/workit-core/package.json
  packages/workit-core/src/config/constants/identifiers.ts
  packages/workit-core/src/config/container.ts
  packages/workit-core/src/processHandler/simpleCamundaProcessHandler.ts
  packages/workit-core/src/tracer/noopTracerPropagator.ts
  packages/workit-core/tests/units/worker.spec.ts
  packages/workit-types/package.json
  packages/workit-types/src/tracer/tracerPropagator.ts
  packages/workit-zeebe-client/README.md
  packages/workit-zeebe-client/package.json
  packages/workit-zeebe-client/tests/integrations/zeebe.spec.ts
Labels: enhancement
